*
{
margin: 0;
padding: 0;
    
}
nav{
    width:100%;
    height:60px;
    background:linear-gradient(to top left,#ffccff 0%, #ffff99 60%);
    border:1px solid red;
}
.mn
{
    float:left;
    
}
.mn li
{
    float:left;
    list-style:none;
    
    position:relative;
}

.mn li a
{
    display: block;
    color: white;
    text-decoration: none;
    padding: 24px 24px;
    font-family:"Roboto", fantasy;
    font-size: 15xp; 
    list-style: none;
    position: relative;
    z-index: 10;
}

.mn li ul
{
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding:10px;
    border-radius: 0px 0px 4px 4px;
}

.mn li:hover ul
{
   display: block;
   color: #f3f3f3;
}

.mn li ul li 
{
  width: 160px;
    
}

.mn li ul li a
{
color: black;
   padding: 10px 14px;
}


body
{
    font-family: sans-serif;
 background-color: #036547;
    line-height: 1;
}
.Full img
{
margin-left: 50px;
margin-top:50px;
    
}

.Renders img
{
margin-left: 750px;     
margin-top: 50px    
}

p
{
    color: whitesmoke;
    font-family: 'Bahianita', cursive;
    font-size: 35px;
    text-align:left;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
}

h2
{
    color: whitesmoke;
    font-family: 'Bahianita', cursive;
    font-size: 45px;
    text-align:center;
}